.display-products{
    text-align: center;
    .block{
        width: 15%;
        margin: 20px 4%;
        @include breakpoint(medium only){
            width: 30%;
        }
        @include breakpoint(small only){
            width: 80%;
            margin: 20px 0;
        }
    }
    .card{
        img{
            object-fit: cover;
            border-radius: 0.5rem;
            width: 200px !important;
            height: 250px !important;
            background-position: top center;
        }
    }
}