$menu-background: #1b1920;

.navigation{
    z-index: 100;
    width: 100%;
    top: 0;
    position: fixed;
    font-family: "Open Sans", sans-serif;
    .logo{
        font-size: 2rem;
    }
    .toggle{
        line-height: 3rem;
        padding: 0 0.5rem 0.3rem 0.5rem;
        background-color: darken($menu-background, 10%);
        .menu-icon{
           margin-top: 0.5rem;
           &:focus{
            outline-style: none;
           } 
           &::after{
            width: 1.8rem;
           }
        }
        .small-logo{
            padding-bottom: 0.5rem;
            display: inline-block;
            height: 2.6rem;
            width: 6rem;
            &:focus{
                outline-style: none;
               } 
        }
    }
    .top-bar{
        background-color: $menu-background;
        ul.menu.vertical{
            @include breakpoint(small only){
                text-align: left;
            }
            &.sub{
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                margin-top: 0.7rem;
                li{
                    border-bottom: 1px dotted #fff;
                    &:last-of-type{
                        border-bottom: none;
                    }
                }
            }
        }
        .menu{
            background-color: $menu-background;
            li{
                color: #def0fc;
                a{
                    color: #def0fc;
                    text-decoration: none;
                    @include breakpoint(medium only){
                        font-size: 1rem;
                    }
                    &:hover{
                        color: #fff;
                    }
                    &:focus{
                        outline-style: none;
                    }
                }
            }
        }
    }
}