.container-fluid{
    .navbar-brand{
        color: white;
    }
    .nav-item{
        .nav-link{
            color: white;
        }
        .dropdown-item{
            &:hover{
                background-color: darken(#212529,5%);
            }
        }
        .dropdown-submenu {
            position: relative;
            &:active{
                background-color: darken(#212529,5%);
            }
          }
          
        .dropdown-submenu span::after {
        transform: rotate(-90deg);
        color: #fff;
        position: absolute;
        right: 6px;
        top: .8em;
        }
        
        .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
        }
    }
}
